<!-- Delete Section Dialog -->
<div id="deleteSectionModal<%= sectionId %>" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Section!</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Do you really want to delete Section: Section Number <%= sectionNumber %>.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <%= link_to "Delete Section", course_section_path(courseId, sectionId, :page=>pageNumber), data: { turbo_method: :delete }, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>